{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-4 h5">
                <p><span style="color: red;">* </span>Ces champs sont obligatoires </p>
            </div>
        </div>
        <form class="row" method="POST" action="{{ path('contact') }}" id="formcontact">
            {{ form_row(form._token) }}
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                <label class="form-label"><span style="color: red">* </span>Nom</label>
                <input type="text" name="nom" class="form-control h-50">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                <label class=" form-label"><span style="color: red">* </span>Prénom</label>
                <input type="text" name="prenom" class="form-control h-50">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                <label class=" form-label"><span style="color: red">* </span>Email</label>
                <input type="email" name="mail" class="form-control h-50">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-4">
                <label class="form-label"><span style="color: red">* </span>Téléphone</label>
                <input type="text" name="tel" class="form-control h-50">
            </div>
            <div class="col mb-5">
                <label class="form-label mt-4"><span style="color: red">* </span>Votre demande</label>
                <textarea class="form-control" name="demande" placeholder="Votre demande" style="height: 150px"></textarea>
            </div>
            <div class="row">
                <div class="col position-relative mb-5">
                    <button type="submit" class="btn btn-outline-secondary position-absolute end-0 mt-1" name="envoyer" id="envoyer" value="formcontact">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
