* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    /*width: 1440px;
height: 1024px;*/

    background: #FEF4E8;
}


/*Page "Accueil" et les selecteurs communs*/

header {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    width: 100%;
    height: 112px;
    background: #FEF4E8;
    border visibility: hidden;
}

#logo {
    position: absolute;
    width: 100px;
    height: auto;
    left: 10px;
    top: 6px;
}

ul {
    display: inline-flex;
    position: absolute;
    width: 106px;
    height: 29px;
    left: 262px;
    top: 45px;
}

li {
    min-width: 400px;
    text-decoration-line: underline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 29px;
}

a {
    color: #970747;
}

#banniere {
    position: absolute;
    width: 100%;
    height: 216px;
    left: 0px;
    top: 128px;
    object-fit: cover;
}

#recherche {
    position: absolute;
    width: 350px;
    height: 29px;
    left: 750px;
    top: 313px;
    color: #970747;
    background: #FEF4E8;
}


#afood {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 200px;
    top: 370px;
    border: 3px solid #000000;
}

#pasta {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 780px;
    top: 370px;
    border: 3px solid #000000;
}

#burger {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 1400px;
    top: 370px;
    border: 3px solid #000000;
}

#pizza {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 200px;
    top: 593px;
    border: 3px solid #000000;
}

#salade {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 780px;
    top: 593px;
    border: 3px solid #000000;
}

#sand {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 1400px;
    top: 599px;
    border: 3px solid #000000
}

#pizzama {
    position: absolute;
    width: 246px;
    height: 118px;
    left: 200px;
    top: 822px;
    border: 3px solid #000000;
}

#cesar {
    position: absolute;
    width: 246px;
    height: 118px;
    left: 780px;
    top: 822px;
    border: 3px solid #000000;
}

#cheese {
    position: absolute;
    width: 246px;
    height: 118px;
    left: 1400px;
    top: 822px;
    border: 3px solid #000000;
}

.zoom {
    position: relative;
    object-fit: cover;
}

.zoom:hover {
    transform: scale(1.2);
}

footer {

    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 463px;
    height: 52px;
    left: 665px;
    top: 972px;
    border: 3px solid #000000;
}

#fb {
    position: relative;
    width: 41px;
    height: 41px;
    left: 6px;
    top: 3px;
}

#insta {
    position: relative;
    width: 41px;
    height: 41px;
    left: 70px;
    top: 3px;
}

#link {
    position: relative;
    width: 41px;
    height: 41px;
    left: 130px;
    top: 3px;
}

#pin {
    position: relative;
    width: 41px;
    height: 41px;
    left: 190px;
    top: 3px;
}

#twitter {
    position: relative;
    width: 41px;
    height: 41px;
    left: 246px;
    top: 3px;
}


/*Page "Categorie"*/

#suivant {
    position: absolute;
    width: 212px;
    height: 57px;
    left: 1550px;
    top: 855px;
    background: #FEF4E8;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#precedent {
    position: absolute;
    width: 212px;
    height: 57px;
    left: 95px;
    top: 855px;
    background: #FEF4E8;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #970747;
}


/*PLat par catégorie*/


#salmon {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 200px;
    top: 370px;
    border: 3px solid #000000;
}

#pizzamama {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 780px;
    top: 370px;
    border: 3px solid #000000
}

#pizzaun {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 1400px;
    top: 370px;
    border: 3px solid #000000;
}

#pizzade {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 200px;
    top: 593px;
    border: 3px solid #000000;
}

#pizzat {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 780px;
    top: 593px;
    border: 3px solid #000000;
}

#pizzao {
    position: absolute;
    width: 246px;
    height: 192px;
    left: 1400px;
    top: 599px;
    border: 3px solid #000000;
}



/*page Commande*/

#dii {
    display: flex;
    width: 100%;
    height: 950px;
    left: 0px;
    top: 140px;
    background: #970747;
    
}

#info {
    
    position: relative;
    width: 642px;
    height: 225px;
    left: 500px;
    top: 156px;
    background: #FEF4E8;
    border: 1px solid #000000;
}

#courg {
    position: absolute;
    width: 198px;
    height: 200px;
    left: 5px;
    top: 12px;
}

h3 {
    position: relative;
    width: 206px;
    height: 29px;
    left: 210px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

fieldset {
    width: 0%;
    border: #000000;
}

p {
    position: absolute;
    width: 335px;
    height: 96px;
    left: 700px;
    top: 206px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

h1 {
    position: absolute;
    width: 132px;
    height: 39px;
    left: 700px;
    top: 316px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

#box {
    box-sizing: border-box;
    position: relative;
    width: 50px;
    height: 50px;
    left: 911px;
    top: 308px;
    background: #FEF4E8;
    border: 1px solid #000000;
}

#un {
    position: absolute;
    width: 16px;
    height: 39px;
    left: px;
    top: 316px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}



#nop {
    position: relative;
    width: 177px;
    height: 29px;
    left: 101px;
    top: 407px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FEF4E8;
    
}

#np {
    position: absolute;
    width: 1252px;
    height: 50px;
    left: 101px;
    top: 436px;

    background: #FEF4E8;
    border: 1px solid #000000;
}

#ce {
    position: relative;
    width: 191px;
    height: 19px;
    left: 98px;
    top: 455px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white
}

#em {
    position: absolute;
    width: 62px;
    height: 29px;
    left: 101px;
    top: 539px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FEF4E8;
}

#email {
    position: absolute;
    width: 567px;
    height: 48px;
    left: 101px;
    top: 567px;
    background: #FEF4E8;
    border: 1px solid #000000;
}

#tell {
    position: absolute;
    width: 121px;
    height: 29px;
    left: 786px;
    top: 533px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FEF4E8;
}

#tel {
    position: absolute;
    width: 567px;
    height: 48px;
    left: 786px;
    top: 566px;
    background: #FEF4E8;
    border: 1px solid #000000;
}

#cemail {
    position: absolute;
    width: 191px;
    height: 19px;
    left: 101px;
    top: 614px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

#cetel {
    position: absolute;
    width: 191px;
    height: 19px;
    left: 786px;
    top: 615px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

#ad {
    position: absolute;
    width: 160px;
    height: 29px;
    left: 101px;
    top: 661px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FEF4E8;
}

#adresse {
    position: absolute;
    width: 1255px;
    height: 140px;
    left: 98px;
    top: 691px;
    background: #FEF4E8;
    border: 1px solid #000000;
}

#cead {
    position: absolute;
    width: 191px;
    height: 19px;
    left: 98px;
    top: 832px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

#env {
    position: absolute;
    width: 182px;
    height: 57px;
    left: 1171px;
    top: 861px;
    background: #FEF4E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}